body {
	background-image: url("galaxy1.png");
}

img.op {
	border: solid 4px black;
}

img.op:hover {
	border: solid 4px #00ff00;
}

img.op:active {
	border: solid 4px #00ff00;
}

.collapse {
	position: relative;
	text-align: center;
	margin-top: -125px;
	color: black;
	z-index: 1;
}

/*.toggle code taken from http://stackoverflow.com/questions/22105291/how-to-create-hover-effects-for-all-links-except-the-one-you-hover-on-using-java*/
.toggle {
	opacity: 0.5;
}

ul.title {
	list-style-type: none;
}

li.title {
	float: left;
}