/*all*/

body {
	background-image: url("galaxy1.png");
	background-attachment: fixed;
}

.navbar {
	background-color: white;
	border-radius: 0% !important;
	/*border-bottom: solid 2px black !important;*/
}

.navbar-brand {
	font-family: 'special elite', serif !important;
	color: black !important;
	font-size: 200% !important;
}
.navbar-brand:hover {
	background-color: #d6d6d6 !important;
}
.navbar-brand:active {
	background-color: #d6d6d6 !important;
}

.navbar-nav a{
	font-family: 'special elite', serif !important;
	color: black !important;
	font-size: 125%;
}
.navbar-nav a:hover{
	background-color: #d6d6d6 !important;
}
.navbar-nav a:active{
	background-color: #d6d6d6!important;
}

.content-block {
	background-color: white;
}

/*fiction*/
.fic-quote .thumbnail {
	background-color: #eeeeee;
	margin-top: 7px;
	border-radius: 50%;
	height: 210px;
	width: 210px;
	text-align: center;
	border: solid 4px black;
}

.fic-quote .thumbnail:visited {
	border: solid 4px #00ff00 !important;
}

.fic-quote .thumbnail:hover {
	border: solid 4px #00ff00;
}

.fic-quote .thumbnail:active {
	border: solid 4px #00ff00;
}

.fic-quote p {
	font-family: 'Special Elite', serif;
}

p.normal-padding {
	padding-top: 3px;
}

p.extra-padding {
	padding-top: 8px;
}

.fic-quote a:link{
	text-decoration: none;
	color: black;
}

.fic-quote a:visited {
	text-decoration: none;
	color: black;
}

.fic-quote a:hover {
	text-decoration: none;
	color: black;
}

.fic-quote a:active {
	text-decoration: none;
	color: black;
}

/*.toggle code taken from http://stackoverflow.com/questions/22105291/how-to-create-hover-effects-for-all-links-except-the-one-you-hover-on-using-java*/
.toggle {
	opacity: 0.5;
}

.read-more {
	text-align: center; !important;
	font-weight: bold;
}

p.break {
	text-align: center !important;
}

/*poetry*/
h3.poetry {
	font-family: 'Trocchi', serif;
	font-size: 400% !important;
	color: white;
	text-align: center;
}

h4.poetry {
	font-family: 'Trocchi', serif;
	font-size: 175% !important;
	text-align: right !important;
	color: white;
	padding-right: 10px;
	font-style: italic;
}

.ml-quote {
	margin-bottom: 25px;
}

/*tarot*/

.intro {
	margin-top: 10px;
	text-align: center;
	color: white;
}

h3.lead {
	font-family: 'Trocchi', serif;
	font-size: 175%;
	margin-bottom: 5px;
}

h4.etc{
	font-family: 'Slabo 27px', sans-serif;
	font-size: 150%;
}

.back-block {
	background-color: rgba(0,0,0,.5);
	width: 90%;
	margin-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.thumbnail.tar-th {
	max-height: 335px;
	max-width: 300px;
	border: solid 1px black;
}
.thumbnail.tar-th:visited {
	border: solid 1px black !important;
}

.thumbnail.tar-th:hover {
	border: solid 1px #00ff00 !important;
}
.thumbnail.tar-th:active {
	border: solid 1px #00ff00 !important;
}

.caption {
	text-align: center;
	height: 35px !important;
}

a.tar-th {
	text-decoration: none !important;
	font-family: 'Cookie', cursive;
	font-size: 130%;
}
a.tar-th:visited {
	text-decoration: none !important;
}
a.tar-th:hover {
	text-decoration: none !important;
	font-weight: bold;
}
a.tar-th:active {
	text-decoration: none !important;
	font-weight: bold;
}

.tar-quote .thumbnail {
	border-radius: 50% !important;
	height: 210px;
	width: 210px;
	text-align: center;
	border: solid 4px black;
	font-family: 'Special Elite', serif;
	margin-top: 30px;
}

.tar-quote .thumbnail:visited {
	border: solid 4px #00ff00 !important;
}

.tar-quote .thumbnail:hover {
	border: solid 4px #00ff00;
}

.tar-quote .thumbnail:active {
	border: solid 4px #00ff00;
}

/*commissions*/