/*all*/

body {
	background-image: url("galaxy1.png");
	background-attachment: fixed;
}

.navbar {
	background-color: white;
	border-radius: 0% !important;
	margin-bottom: 0px !important;
}

.navbar-brand {
	font-family: 'special elite', serif !important;
	color: black !important;
	font-size: 200% !important;
}
.navbar-brand:hover {
	background-color: #d6d6d6 !important;
}
.navbar-brand:active {
	background-color: #d6d6d6 !important;
}

.navbar-nav a{
	font-family: 'special elite', serif !important;
	color: black !important;
	font-size: 125%;
}
.navbar-nav a:hover{
	background-color: #d6d6d6 !important;
}
.navbar-nav a:active{
	background-color: #d6d6d6!important;
}

.content-block {
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

.back-block {
	background-color: rgba(0,0,0,.5);
	width: 90%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.modal-body, .read-more, .well {
	font-family: 'Roboto', sans-serif;
}

.modal-title {
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
}

button {
	background-color: white !important;
	font-family: 'Roboto', sans-serif !important;
	color: black !important;
	border: solid 2px black !important;
}

button:visited {
	color: black !important;
	border: solid 2px black !important;
}

button:hover {
	color: #00ff00 !important;
	border: solid 2px #00ff00 !important;
}

button:active {
	color: #00ff00 !important;
	border: solid 2px #00ff00 !important;
}

/*fiction*/
.fic-quote .thumbnail {
	background-color: #eeeeee;
	margin-top: 7px;
	border-radius: 50%;
	height: 210px;
	width: 210px;
	text-align: center;
	border: solid 4px black !important;
}

.fic-quote .thumbnail:visited {
	border: solid 4px black !important;
}

.fic-quote .thumbnail:hover {
	border: solid 4px #00ff00 !important;
}

.fic-quote .thumbnail:active {
	border: solid 4px #00ff00;
}

.fic-quote p {
	font-family: 'Special Elite', serif;
}

p.normal-padding {
	padding-top: 3px;
}

p.extra-padding {
	padding-top: 8px;
}

.fic-quote a:link{
	text-decoration: none;
	color: black;
}

.fic-quote a:visited {
	text-decoration: none;
	color: black;
}

.fic-quote a:hover {
	text-decoration: none;
	color: black;
}

.fic-quote a:active {
	text-decoration: none;
	color: black;
}

/*.toggle code taken from http://stackoverflow.com/questions/22105291/how-to-create-hover-effects-for-all-links-except-the-one-you-hover-on-using-java*/
.toggle {
	opacity: 0.5;
}

.read-more {
	text-align: center !important;
	font-weight: bold;
}

p.break {
	text-align: center !important;
}

.read-more a{
	color: #00ff00 !important;
}

.collapse h3 {
	font-family: 'Slabo 27px', serif;
}

/*poetry*/
h3.poetry {
	font-family: 'Trocchi', serif;
	font-size: 400% !important;
	color: white;
	text-align: center;
}

h4.poetry {
	font-family: 'Trocchi', serif;
	font-size: 175% !important;
	text-align: right !important;
	color: white;
	padding-right: 10px;
	font-style: italic;
}

.ml-quote {
	margin-bottom: 25px;
}

.poet-statement.thumbnail {
	border-radius: 50% !important;
	height: 250px;
	width: 250px;
	text-align: center;
	border: solid 4px black;
	font-family: 'Special Elite', serif;
	float: center;
}

.poet-statement.thumbnail:hover {
	border: solid 4px #00ff00;
}

.poet-statement.thumbnail:active {
	border: solid 4px #00ff00;
}
.poet-statement p {
	padding: 5px;
}

.poemz.thumbnail {
	border: solid 2px #00ff00 !important;
}

/*tarot*/

.intro {
	margin-top: 10px;
	text-align: center;
	color: white;
}

h3.lead {
	font-family: 'Trocchi', serif;
	font-size: 175%;
	margin-bottom: 5px;
}

h4.etc{
	font-family: 'Slabo 27px', sans-serif;
	font-size: 150%;
}

.thumbnail.tar-th {
	max-height: 335px;
	max-width: 300px;
	border: solid 1px black;
}
.thumbnail.tar-th:visited {
	border: solid 1px black !important;
}

.thumbnail.tar-th:hover {
	border: solid 1px #00ff00 !important;
}
.thumbnail.tar-th:active {
	border: solid 1px #00ff00 !important;
}

.caption {
	text-align: center;
	height: 35px !important;
}

a.tar-th {
	text-decoration: none !important;
	font-family: 'Cookie', cursive;
	font-size: 130%;
}
a.tar-th:visited {
	text-decoration: none !important;
}
a.tar-th:hover {
	text-decoration: none !important;
	font-weight: bold;
}
a.tar-th:active {
	text-decoration: none !important;
	font-weight: bold;
}

.tar-quote .thumbnail {
	border-radius: 50% !important;
	height: 210px;
	width: 210px;
	text-align: center;
	border: solid 4px black;
	font-family: 'Special Elite', serif;
	margin-top: 30px;
}

.tar-quote .thumbnail:visited {
	border: solid 4px black !important;
}

.tar-quote .thumbnail:hover {
	border: solid 4px #00ff00;
}

.tar-quote .thumbnail:active {
	border: solid 4px #00ff00;
}

p.learn-tarot {
	padding-left: 10px;
}

p.learn-tarot a {
	color: #00ff00;
}

/*commissions*/

.tab-content {
	padding-left: 20px;
	padding-right: 20px
}

.tab-content h3 {
	font-family: 'Slabo 27px', serif !important;
}

.tab-content p {
	font-family: 'Roboto', sans-serif !important;
}

.tab-content a {
	color: #00ff00 !important;
}

.tab-content a:hover {
	color: #00ff00 !important;
}

.tab-content a:active {
	color: #00ff00 !important;
}

input {
	font-family: 'Roboto', sans-serif !important;
}

select {
	font-family: 'Roboto', sans-serif !important;
}

label {
	font-family: 'Roboto', sans-serif !important;
}

#other {
	padding-bottom: 30px;
}

.nav-tabs a {
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	font-size: 150% !important;
	color: black !important;
	text-decoration: underline !important
}

.nav-tabs a:visited {
	color: #00ff00 !important;
}

.nav-tabs a:hover {
	color: #00ff00 !important;
	text-decoration: underline !important;
}

.nav-tabs a:active {
	color: #00ff00 !important;
	text-decoration: underline !important;
}

